<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSpatialHosting Promo Discount Code Notification</title>
</head>
<body style="font-family: Lato, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 10px;">
    <tr>
        <td align="center" style="padding: 10px;">
            <img src="https://kartoza.com/files/GSH%20Logo.png" alt="GeoSpatialHosting Logo" width="300" style="display: block;">
        </td>
    </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 00px; border: 1px solid #dddddd;">
        <tr>
            <td style="padding: 10px 0; text-align: center; background-color: #57A0C7; color: #ffffff;">
                <h2>Your Exclusive Discount on GeoSpatialHosting is Ready</h2>
            </td>
        </tr>
    </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 20px; border: 0px solid #dddddd;">
            <tr>
                <td style="padding: 20px;">
                    <p>Dear Customer,</p>
                    <br>
                    <p>We’re excited to welcome you to GeoSpatialHosting — a hassle-free way to deploy and manage your favourite open-source GIS applications.</p>
                    <br>
                    <p>To help you get started, we’re offering you an exclusive discount on your first hosted instance.
                    </p>
                    <br>
                    <div style="background: #eee; width: 100%; font-weight: 700; text-align: center; font-size: 1.5rem; padding: 2rem; box-sizing: border-box;">
                    {{ code }}
                    </div>
                    <br>
                    <p>Use your promo code at checkout to receive {{ discount_text }} of any product of your choice.</p>
                    <br>
                    <p>You’re free to cancel your subscription at any time. Please note that any payments made up to the point of cancellation are non-refundable, and once your instance is closed, all data and uploaded projects will be permanently deleted.</p>
                    <br>
                    <p>If you encounter any issues accessing the product, please don't hesitate to reach out to our support team at <a href="mailto:{{ support_email }}" style="color: #FFA500;">{{ support_email }}</a>.</p>
                    <br>
                    <p>Thank you for choosing GeoSpatialHosting.</p>
                    <br>
                    <p> Best regards,
                    <br>The GeoSpatialHosting Team
                    </p>
                </td>
                <tr>

        <!-- GIF Section -->
        <tr>
            <td style="text-align: center; padding: 20px;">
                <img src="https://kartoza.com/files/GSH%20Email%20animation.gif" alt="Kartoza Services" width="100%" style="border-radius: 10px;">
                <p style="padding: 10px; text-align: center; font-size: 14px; color: #999999;">Designed with care by Kartoza.</p>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td style="padding: 10px; text-align: center; font-size: 12px; color: #999999;">
                <p>This is an automated message. Please do not reply directly to this email.</p>
            </td>
        </tr>
    </table>
</body>
</html>
