body {
  margin: 0;
  font-family: 'Lato',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.table-title {
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ECB44B;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9a23a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ECB44B transparent;
}